
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Jura', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    /* max-width: 1162px; */
    
}

img {
    display: block;
}

.main-page {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.text-h1 {
    font-family: 'Ubuntu';
    font-size: 96px;
    color: #000000;
    line-height: 10px;
}

.logo {
    margin-left: auto;
}

/* ЧАСТЬ 1 */

.first {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    font-family: 'Jura';
    font-size: 24px;
    color: #000000;
    margin-left: 150px;
    margin-right: 150px;
}

.buttom {
    width: 573px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.but-1, .but-2, .but-3 {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 10px;
    text-decoration: none;
    color: #000000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.but-3 {
    border: 1px solid #000000;
}

.but-1:hover {
    opacity: 0.8;
    border: 1px solid #000000;  
    transition: 0.3s;
}

.but-2:hover {
    opacity: 0.8;
    border: 1px solid #000000;
    transition: 0.3s;
}

.but-3:hover {
    opacity: 0.8;
    color: #ffffff;
    background: #000;
    border: none;
    transition: 0.3s;
}

/* линия наротив текста */

  .but-1::before,
  .but-1::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
	height: 1px;
	background: #000000;
    border: solid #FFF;
	border-width: 0 10px;
  }

  .but-1::before {
    margin-left: -100%;
  }

  .but-1::after {
    margin-right: -100%;
  }

  .but-2::before,
  .but-2::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
	height: 1px;
	background: #000000;
    border: solid #FFF;
	border-width: 0 10px;
  }

  .but-2::before {
    margin-left: -100%;
  }

  .but-2::after {
    margin-right: -100%;
  }

  /* линия напротив текста */ 

  .dropdown {
    width: 573px;
    display: flex;
    flex-direction: column;
    text-align: right;
    }

    .dropdown-book,
    .dropdown-news {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-book a,
      .dropdown-news a {
        color: black;
        padding: 20px 20px;
        text-decoration: none;
        display: block;
        float: right;
      }

      .dropdown-book a:hover {
          background: #000;
          color:#FFF;
      }

      .dropdown:hover .dropdown-book {display: block;}

      .dropdown-news a:hover {
        background: #000;
        color:#FFF;
      }

      .dropdown:hover .dropdown-news {display: block;}

p {
    width: 573px;
    line-height: 28px;
    text-align: left;
}


/* ЧАСТЬ 2 */

.second {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    font-family: 'Jura';
    font-size: 24px;
    color: #fcfcfc;
    background: #000;
}

.p-2 {
    width: 573px;
    height: 380px;
    background: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2 {
    padding: 100px;
}

/* ЧАСТЬ 3 */

.third {
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; */
    margin: 30px;
    font-family: 'Jura';
    font-size: 24px;
    color: #000000;
}

.item-1, .item-2, .item-3, .item-4  {
    border: solid 1px #000000;
    text-decoration: none;
    color: #000000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.group-1, .group-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}